@import '../../const.scss';

.popup {

    &__wrap {
        display: none;

        &_open {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
    
            background-color: #dcdcdc99;
    
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}