@import '../../const.scss';

.mainpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

    &__content {
        display: flex;
        flex-direction: row;
        padding: 20px;
        height: 100%;
    }
}