@import '../../const.scss';

.authForm {
    background-color: $block_background_color;
    border: $block_border;
    box-shadow: $block_box_shadow;
    backdrop-filter: $block_backdrop_filter;
 
    border-radius: $border_radius;
 
    padding: 20px;
    margin-left: 20px;
}