$white: white;
$border_radius: 10px;


$block_backdrop_filter: blur(5px);
$block_background_color: rgba(255, 255, 255, 0.7);
$block_border: rgb(255, 255, 255, 0.5);
$block_box_shadow: 5px 5px 10px rgb(255, 255, 255, 0.2);