@import '../../const.scss';

.mainContent {
   background-color: $block_background_color;
   border: $block_border;
   box-shadow: $block_box_shadow;
   backdrop-filter: $block_backdrop_filter;

   border-radius: $border_radius;

   padding: 20px;
   margin-left: 20px;

   &__wrap {
        flex: 1 0 auto;
   }
}